name: Mern Cd
  
on: 
  push: 
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

  steps:
    - name: Deploy via SSH 
      uses: appleboy/ssh-action@v1
      with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd Devops-Basics/
            git pull origin main
            docker-compose down
            docker-compose up --build -d

